doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Green Fundation

    style(type='text/css').
      #loading-canvas{
          position:fixed;
          top:0;
          bottom:0;
          left:0;
          right:0;
          background-color:#fff;
          z-index: 40;
          display: block;
          font-family: 'Open Sans', sans-serif;
      }
  body
    #root !{ReactDom}
        
    script(src='main.js')

  